@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

#main {
	margin-top: 63px;
}

body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.title{
  color: #0A769D;
}

.btn-sidebar{
  padding: 2px 6px;
  font-size: 20px;
  color: #ffffff !important;
  background-color: #0A769D !important;
  border-color: #0A769D !important;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
    .show
    {
      margin-left: 0!important;
    }
    .hide
    {
      margin-left: -15rem!important;
    }
}
  
@media (max-width: 767px) {
    .hide
    {
      margin-left: -0!important;
    }
}

i,span,strong{
    color: #6c757d !important;
}

a.nav-link {
    color: #6c757d !important;
}

a.nav-link:hover {
    color: #1FBABF !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff !important;
    background-color: #60D5AB;
}

.icono-panel {
    font-size: 1.4em;
}

.icono-nav {
    font-size: 1.1em;
}

.table-responsive {
    border: 1px solid #0A769D;
    border-radius: 4px;
    overflow-x: auto;
    width: 100%;
    margin: auto;
    margin-top: 15px;
}


.table td, .table th {
    text-align: center;
    vertical-align: middle;
}

.content-table th {
    background-color: #0A769D;
    color: #ffffff;
}

.btn-group .btn {
    margin-right: 10px;
}

.bi-trash-fill {
    color: #FF6666 !important; /* Rojo más claro */
}

.bi-trash-fill:hover {
    color: #CC0000 !important; /* Rojo más oscuro */
}

.bi-pencil-fill:hover{
    color: #0A769D !important; /* Azul */
}

.icono-b1:focus, .icono-b2:focus {
    outline: 0.5px solid #0A769D;
    box-shadow: #0A769D;
}

h1{ 
    text-align: center;
    color: #6c757d;
}

.icono-b3 {
    margin-top: 20px;
    background-color: #1FBABF;
    color: #ffffff;
}

td:hover{
    color: #60D5AB;
}
