<main id="main" class="main">

<h2 class="encabezado-2">Quiénes Somos</h2>
<div class="row">
    <p class="text-justify">
      <img src="./assets/images/Grupo_trabajo.png" class="img-fluid rounded mx-auto d-block" width="600" height="200" alt=""><br><br>
       WorkFlix es una plataforma donde puede encontrar profesionales de confianza para resolver cualquier inconveniente que tenga en su casa u oficina. Póngase en contacto con el profesional que necesite y presupueste el trabajo. No compartimos su dirección ni teléfono con nadie. En WorkFlix podrá encontrar plomeros, gasistas, herreros, pintores, albañiles, jardineros y muchos otros oficios más. En nuestro menú podrá filtrar por categorías y seleccionar al profesional que necesite. Todos los profesionales están verificados y son permanentemente evaluados. Luego de realizado el trabajo usted puede calificar al profesional para que otros usuarios puedan tener referencias sobre el trato y la calidad del profesional contratado.
    </p>
</div>


  </main>
