<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between mt-5 p-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-grid-fill"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-lg-center justify-content-end" id="navbarNav">
            <ul class="navbar-nav nav-underline fs-5">
                <li class="nav-item">
                    <a class="nav-link" href="../../../../assets/apk-workflix/app-debug.apk">Descargar Workflix App</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/home'" >Usar Worflix Web</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#quienes-somos">Quienes Somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/preguntas-frecuentes'">Preguntas Frecuentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"[routerLink]=" '/contacto' ">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>