<main id="main" class="main">






<!-- As a link
<nav class="navbar navbar-light bg-light">
   <a class="navbar-brand" href="#">Navbar</a>
 </nav>-->
 <!-- As a heading
 <nav class="navbar navbar-light bg-light">
   <span class="navbar-brand mb-0 h1">Navbar</span>
 </nav>-->









   
        <h1>Dashboard</h1>
 





    <section class="section dashboard">
       <div class="row">
          <div class="col-lg-8">
             <div class="row">
              <div class="col-xxl-4 col-xl-12">

                <!-- <app-admin-charts-clientes></app-admin-charts-clientes> -->
                <app-charts-actividad-reciente></app-charts-actividad-reciente>

                </div>


                <div class="col-xxl-4 col-md-6">

                           <app-admin-charts-ventas></app-admin-charts-ventas>

                </div>
                <div class="col-xxl-4 col-md-6">

                           <app-admin-charts-ingresos></app-admin-charts-ingresos>

                </div>
                
                <div class="col-12">

                  <app-admin-charts-reportes></app-admin-charts-reportes>

                </div>
                <div class="col-12">

                  <app-charts-ventas-recientes></app-charts-ventas-recientes>




                </div>
                <div class="col-12">


                  <app-charts-mejores-servicios-vendidos></app-charts-mejores-servicios-vendidos>


                </div>
             </div>
          </div>
          <div class="col-lg-4">
            <app-admin-charts-clientes></app-admin-charts-clientes>
          

            <app-charts-informe-radar></app-charts-informe-radar>

            <app-charts-trafico-sitio></app-charts-trafico-sitio>


             </div>
          </div>

    </section>
 </main>
