label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top:10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

.parrafo{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 500;
    text-justify: inter-word; 
}


form{
    background: #fff;
    width: 30%;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
   
  
}

label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top:10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

.parrafo{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 500;
    text-justify: inter-word; 
}


form{
    background: #fff;
    width: 30%;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
   
  
}


/* Estilos de la Home */

.cabecera-tarjeta{
    background-color: #0A769D;
    width: 70%; 
    color: #ffffff;
    z-index:2;
    font-size:medium;
    letter-spacing: 2px;
}

.boton-cards {
    background-color:#60D5AB; 
    border:#60D5AB 1px solid; 
    border-radius: 0px 0px 40px 40px; 
    padding-bottom: 10px; 
    padding-top: 10px;
    letter-spacing: 2px;
    transition-duration: 0.4s;
    color: #000000;
}

.boton-cards:hover {
  background-color: #1FBABF; /* Verde Kiwi */
  color: #ffffff;
}
    
.center-form {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.img-center-wwa{
    display: flex;
    margin: 2rem 7rem;
}


input, textarea{
    background: none;
    color:#c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border:none;
    border-bottom: 1px solid var(--colorTextos);
    resize: none;
}

input:focus,textarea:focus{
    outline: none;
    color: rgb(94,93,93);
}

input:focus~label, 
input:valid~label, 
textarea:focus~label, textarea:valid~label{
    position: absolute;
    top: -14px;
    font-size: 12px;
    color: #2196F3;
}