<div class="col-md-12 mt-auto pb-4">
    <div class="mt-5 p-2">
      
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col">
        <ng-container *ngIf="tipoProductos.length > 0">
          <div class="row table-header-color">
            <div class="col-10 col-lg-6 col-md-6 col-xl-6">Servicios actuales</div>
          </div>
          <div class="row" *ngFor="let tipoProducto of tipoProductos">          
            
            <app-art-servicios (refrescar)="refrescar()" [tipoProducto]="tipoProducto"></app-art-servicios>
          </div>
        </ng-container>
        <ng-container *ngIf="tipoProductos.length == 0">
          <p>Por el momento no hay cargado servicios</p>
        </ng-container>
  
        <div class="row">
          <h3>Agregar</h3>
          <form [formGroup]="crearTipoProductoForm" (ngSubmit)="crear(crearTipoProductoForm.value)">
            <input class="col-7 col-sm-8 col-md-9 col-lg-9 col-xl-10" formControlName="nombre" id="nombre" name="nombre" type="text" placeholder="Ingresar el nombre del tipo">
            <button type="submit" class="col btn btn-primary" [disabled]="!crearTipoProductoForm.valid"><i class="bi bi-save"></i></button>
            <div *ngIf="mostrarMensajeExitoso" class="alert alert-success">
              Servicio Cargado 
            </div>
            <div *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)" class="text-danger">
              <div *ngIf="nombre?.errors?.['required']">
                Se requiere ingresar un tipo de servicio.
              </div>
              <div *ngIf="nombre?.errors?.['maxlength']">
                El máximo de caracteres es 40 .
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <ng-container *ngIf="resultado">
      <div class="row">
        <app-campo-r [resultado]="resultado"></app-campo-r>

      </div>
    </ng-container>
  </div>
  