

<div class="col-md-12 mt-auto pb-4">
  <div class="mt-5 p-4">
      <div class="text-center">
          <h1 class="text-black">Publicar servicio</h1>
      </div>
  </div>
</div>



<div class="container">



<div class="row">
  <h3>Agregar</h3>
  <div class="col-6">
    <form [formGroup]="crearProductoForm" class="my-form" enctype="multipart/form-data">
      <div>
        <label for="nombre">Nombre: </label>
        <input id="nombre" name="nombre" type="text" formControlName="nombre" maxlength="50" required>
        <div *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)" class="text-danger">
          <div *ngIf="nombre?.errors?.['required']">
              Se requiere un nombre de producto.
          </div>
        </div>
      </div>
      <div>
        <label for="descripcion">Descripcion: </label>
        <input id="descripcion" name="descripcion" type="text" formControlName="descripcion" maxlength="50" required>
        <div *ngIf="descripcion?.invalid && (descripcion?.dirty || descripcion?.touched)" class="text-danger">
          <div *ngIf="descripcion?.errors?.['required']">
              Se requiere una descripción del servicio.
          </div>
        </div>
      </div>
      <div>
        <label for="tipo">Tipo: </label>
        <select id="tipo" name="tipo" formControlName="tipo" required>
          <option value="0" selected>Seleccione una opción...</option>
          <option *ngFor="let tipoProducto of tipoProductos" value="{{tipoProducto.id}}">{{tipoProducto.nombre}}</option>
        </select>
        <div *ngIf="tipo?.invalid && (tipo?.dirty || tipo?.touched)" class="text-danger">
          <div *ngIf="tipo?.errors?.['required']">
            Se requiere seleccionar un tipo de servicio.
          </div>
          <div *ngIf="tipo?.errors?.['min']">
            Ingrese un tipo de servicio.
        </div>
        </div>
      </div>
      <div>
        <label for="precio">Costo del servicio: </label>
        <input id="precio" name="precio" type="number" formControlName="precio" required>
        <div *ngIf="precio?.invalid && (precio?.dirty || precio?.touched)" class="text-danger">
          <div *ngIf="precio?.errors?.['required']">
            Se requiere ingresar un precio para el servicio.
          </div>
          <div *ngIf="precio?.errors?.['min']">
            El precio no puede ser inferior a cero.
          </div>
        </div>
      </div>
      <div>

        <input id="costo" name="costo" type="number" formControlName="costo" required hidden>

        <div *ngIf="costo?.invalid && (costo?.dirty || costo?.touched)" class="text-danger">
          <div *ngIf="costo?.errors?.['required']">
            Se requiere ingresar el costo del Servicio.
          </div>
          <div *ngIf="costo?.errors?.['min']">
            El costo no puede ser inferior a cero.
          </div>
        </div>
      </div>
      <div>
        <label for="cantidad" hidden>Cantidad: </label>
        <input id="cantidad" name="cantidad" type="number" formControlName="cantidad" required hidden>


        <div *ngIf="cantidad?.invalid && (cantidad?.dirty || cantidad?.touched)" class="text-danger">
          <div *ngIf="cantidad?.errors?.['required']">
            Se requiere ingresar la cantidad del producto.
          </div>
          <div *ngIf="cantidad?.errors?.['min']">
            La cantidad no puede ser inferior a cero.
          </div>
        </div>
      </div>
      <div>
        <label for="imagen">Imagen: </label>
        <input id="imagen" name="imagen" type="file" accept="image/*" (change)="onFileChange($event)" class="btn btn-outline-primary"><br>
      </div>
      <div class="btn-right">
        <button type="submit" class="col btn btn-success" [disabled]="!crearProductoForm.valid" (click)="crear(crearProductoForm.value)">Crear servicio</button>
        <br><br><br>
        <div *ngIf="mostrarMensajeExitoso" class="alert alert-success">
          Artículo creado con éxito.
        </div>
      </div>
    </form>
  </div>
</div>
<ng-container *ngIf="resultado">
  <div class="row">

    <app-campo-r [resultado]="resultado"></app-campo-r>
  </div>
</ng-container>

<h2>Artículos publicados</h2>
<div class="row">
  <div class="col-9 col-lg-9"> <!-- Ajustar las clases para ocupar el 75% de la pantalla -->
    <ng-container *ngIf="productos.length > 0">
      <div class="row table-header-color">
        <div class="col-3">Titulo</div>
        <div class="col-3 col-lg-1">Precio</div>
        <div class="col-3 col-lg-1">Cantidad</div>
        <div class="col-3">Descripcion</div>
      </div>
      <div class="row" *ngFor="let producto of productos">
        <app-servicio-carga (refrescar)="refrescar()" [producto]="producto" [tipoProductos]="tipoProductos"></app-servicio-carga>
      </div>
    </ng-container>
    <ng-container *ngIf="productos.length == 0">
      No hay artículos para mostrar.
    </ng-container>
  </div>
</div>
</div>

