<div class="col-md-12 mt-auto pb-4">
    <div class="container mt-5 p-2">
        <div class="text-center">
            <h2 class="encabezado-2">Registro</h2>
        </div>
    </div>
</div>

<div class="registrer">
  <section class="seccion-form d-flex justify-content-center align-items-center">

      <form class="form-register" [formGroup]="registrarForm" (ngSubmit)="onSubmit(registrarForm.value)">
          <label for="fname">Nombre:</label><br>
          <input class="form-control" type="text" formControlName="fname" id="fname" placeholder="Ingrese su nombre" required><br>
          <div *ngIf="fname?.invalid && (fname?.dirty || fname?.touched)" class="text-danger">

              <div *ngIf="fname?.errors?.['required']">
                  Se requiere un nombre
              </div>
              <div *ngIf="fname?.errors?.['minlength']">
                  El nombre debe tener más de 4 caracteres.
              </div>
              <div *ngIf="fname?.errors?.['maxlength']">
                  El nombre debe tener un máximo de 40 caracteres.
              </div>
          </div>


          <label for="lname">Apellido:</label><br>
          <input class="form-control" type="text" formControlName="lname" id="lname" placeholder="Ingrese su apellido" required><br>

          <div *ngIf="lname?.invalid && (lname?.dirty || lname?.touched)" class="text-danger">

              <div *ngIf="lname?.errors?.['required']">
                  Se requiere un apellido
              </div>
              <div *ngIf="lname?.errors?.['minlength']">
                  El apellido debe tener más de 3 caracteres.
              </div>
              <div *ngIf="lname?.errors?.['maxlength']">
                  El apellido debe tener un máximo de 40 caracteres.
              </div>
          </div>

          <label for="mail">Correo electrónico:</label><br>
          <input class="form-control"  type="email" formControlName="mail" id="mail" placeholder="Ingrese su correo electrónico" required><br>

          <div *ngIf="mail?.invalid && (mail?.dirty || mail?.touched)" class="text-danger">

              <div *ngIf="mail?.errors?.['required']">
                  Se requiere un correo electrónico
              </div>
              <div *ngIf="mail?.errors?.['minlength']">
                  El correo electrónico debe tener más de 10 caracteres.
              </div>
              <div *ngIf="mail?.errors?.['pattern']">
                  El formato de correo electrónico no coincide.
              </div>
          </div>

          <label for="adress">Domicilio:</label><br>
          <input class="form-control"  type="text" formControlName="adress" id="adress" placeholder="Ingrese su domicilio" required><br>

          <div *ngIf="adress?.invalid && (adress?.dirty || adress?.touched)" class="text-danger">

              <div *ngIf="adress?.errors?.['required']">
                  Se requiere un domicilio
              </div>
              <div *ngIf="adress?.errors?.['maxlength']">
                  El domicilio debe tener un máximo de 40 caracteres.
              </div>
          </div>

          <label for="phone">Teléfono:</label><br>
          <input class="form-control"  type="tel" formControlName="phone" id="phone" placeholder="Ingrese su teléfono" required><br>

          <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)" class="text-danger">

              <div *ngIf="phone?.errors?.['required']">
                  Se requiere un número de teléfono
              </div>
              <div *ngIf="phone?.errors?.['minlength']">
                  El teléfono debe tener más de 8 caracteres.
              </div>
              <div *ngIf="phone?.errors?.['maxlength']">
                  El teléfono debe tener un máximo de 25 caracteres.
              </div>
          </div>

          <label for="user">Nombre de usuario:</label><br>
          <input class="form-control"  type="text" formControlName="user" id="user" placeholder="Ingrese su usuario" required><br>

          <div *ngIf="user?.invalid && (user?.dirty || user?.touched)" class="text-danger">

              <div *ngIf="user?.errors?.['required']">
                  Se requiere un nombre de usuario
              </div>
              <div *ngIf="user?.errors?.['minlength']">
                  El nombre de usuario debe tener más de 4 caracteres.
              </div>
              <div *ngIf="user?.errors?.['maxlength']">
                  El nombre de usuario debe tener un máximo de 20 caracteres.
              </div>
          </div>

          <label for="password">Contraseña:</label><br>
          <input class="form-control"  type="password" formControlName="password" id="password" placeholder="Ingrese su contraseña" required><br>

          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-danger">

              <div *ngIf="password?.errors?.['required']">
                  Se requiere una contraseña.
              </div>
              <div *ngIf="password?.errors?.['minlength']">
                  La contraseña debe tener más de 6 caracteres.
              </div>
              <div *ngIf="password?.errors?.['maxlength']">
                  La contraseña debe tener un máximo de 20 caracteres.
              </div>
          </div>
          <!--Botón Registrarse-->
          <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
              <button type="submit" class="boton-form" [disabled]="!registrarForm.valid">
                Registrarse
              </button>
            </div>
          </div>
          <!--<button class="btn btn-success" type="submit" [disabled]="!registrarForm.valid">Registrarse</button><br>-->

        </form>

        <ng-container *ngIf="resultado.mensaje != ''">
            <div class="container">
                <div class="row">
                    <div class="col">

                         <p class="text-center">{{resultado.mensaje}}</p>

                    </div>
                </div>
            </div>
          <ng-container *ngIf="resultado.status == 201">

          </ng-container>
        </ng-container>
  </section>
</div>
