:host {
    display: block;
    margin-top: 70px; /* Ajusta esta propiedad para definir la distancia hacia abajo */
    margin-left: 50px;
    margin-right: 50px;
  }


.volver-btn {
    margin-left: 40px;
    margin-top: 40px;
    padding: 10px 20px;
    background-color: #9CEE8C;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    z-index: 1; /* Asegura que el botón esté encima de otros elementos */
}

.details-volver {
    margin-top: -80px;    
}

/* IMAGEN PROFESIONAL */ 

.container {
    margin-left: 350px; /* Mueve el contenedor y su contenido hacia la derecha */
}

.rectangle {
    margin-left: -300px;
    width: 300px;
    height: 30px;
    margin-top: 110px;
    background-color: #0A769D;
    text-align: center;
    font-weight: lighter;
    color: white;
    border-radius: 10px;
    padding-top: 5px;
}

.image {
    margin-left: -300px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-top: 10px; /* Añade espacio entre el texto y la imagen */
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


/* DETALLES PROFESIONAL */ 

.details {
    display: flex; /* Utiliza flexbox para colocar los detalles al lado de la imagen */
    flex-direction: column; /* Apila los detalles en una columna */
    margin-left: 380px; /* Ajusta el margen izquierdo */
    margin-top: -350px;
}

.details p {
    margin: 10px 0; /* Ajusta el margen de los párrafos */
}

.details p.nombre-apellido {
    font-size: 30px; /* Tamaño de la tipografía para Nombre Apellido */
}

.details p.experiencia {
    font-size: 15px; /* Tamaño de la tipografía para Experiencia Laboral */
}
.details p.plomeroexp {
    font-size: 15px; /* Tamaño de la tipografía para Experiencia Laboral */
    margin-top: -15px;
}

.linea {
    margin-left: 380px; /* Agrega un margen a la izquierda para separar la línea */
    margin: left -50px;
    bottom: 0; /* Coloca la línea en la parte inferior del contenedor */
    width: calc(90% - 250px); /* Estira la línea horizontalmente con un margen a la izquierda */
    border-bottom: 1px solid black; /* Añade una línea sólida de 1 píxel de grosor */
}

.details p.descripcion {
    font-size: 25px; /* Tamaño de la tipografía para Nombre Apellido */
    margin-top: 370px;
} 

.details p.descripcion-texto{
    font-size: 14px; /* Tamaño de la tipografía para Nombre Apellido */
    margin-top: -30px;
    margin-left: 170px;
    width: 70%;
}

