:host {
    display: block;
    margin-top: 70px; /* Ajusta esta propiedad para definir la distancia hacia abajo */
    margin-left: 50px;
    margin-right: 50px;
  }


.volver-btn {
    margin-left: 40px;
    margin-top: 40px;
    padding: 10px 20px;
    background-color: #9CEE8C;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    z-index: 1; /* Asegura que el botón esté encima de otros elementos */
}


