<main id="main" class="main">
<section id="header">
    <div class="row">
      <div class="col-md-12">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./assets/images/workflix-3.png" class="d-block w-100" alt="Man with tools">
                <div class="carousel-caption d-none d-md-block">
                  <div class="container-fluid" id="botones-header">
                    <ng-container *ngIf="esUsuarioAdministrador()">

                      <h1>Ingreso con usuario administrador</h1>
                    </ng-container>
                    <ng-container *ngIf="esUsuarioCliente()">

                      <h1>Ingreso con usuario cliente</h1>

                    </ng-container>
                    <ng-container *ngIf="!esUsuarioCliente() && !esUsuarioAdministrador()">
                      <h1>Inicia sesión para acceder a los servicios ofrecidos</h1>
                    </ng-container>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>


<app-servicios-cat></app-servicios-cat>

</main>




