

<div class="card">
    <div class="filter">
       <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
       
    </div>                     
    <div class="card-body">
      <div id="chart">
         <apx-chart
           [series]="chartOptions.series"
           [chart]="chartOptions.chart"
           [xaxis]="chartOptions.xaxis"
           [stroke]="chartOptions.stroke"
           [dataLabels]="chartOptions.dataLabels"
           [yaxis]="chartOptions.yaxis"
           [labels]="chartOptions.labels"
           [legend]="chartOptions.legend"
           [title]="chartOptions.title"
           [subtitle]="chartOptions.subtitle"
         ></apx-chart>
       </div>
    </div>
 </div>