<div class="card info-card sales-card">
    <div class="filter">
       <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
       <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <li class="dropdown-header text-start">
             <h6>Filter</h6>
          </li>
          <li><a class="dropdown-item" href="#">Hoy</a></li>
          <li><a class="dropdown-item" href="#">Este mes</a></li>
          <li><a class="dropdown-item" href="#">Este año</a></li>
       </ul>
    </div>
    <div *ngFor="let t of lista; let i=index" class="card-body">
       <h5 class="card-title">Ventas <span>| Hoy</span></h5>
       <div class="d-flex align-items-center">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-cart"></i></div>
          <div class="ps-3">
             <h6>${{ t.ventas }}</h6>
             <span class="text-success small pt-1 fw-bold">{{  t.porcentaje }}%</span> <span class="text-muted small pt-2 ps-1">Incremento</span>
          </div>
       </div>
    </div>
 </div>