<div *ngIf="editando?.id != tipoProducto.id" class="row">
  <div class="col-9 col-sm-10 col-md-10 col-lg-10 col-xl-11" [id]=funcionesService.crearId(tipoProducto.id)>{{tipoProducto.nombre}}</div>
  <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1">
    <div class="row">
      <button type="button" class="col btn btn-primary" (click)="editar(tipoProducto)"><i class="bi bi-pen"></i></button>
      <button type="button" class="col btn btn-danger" (click)="borrar(tipoProducto)"><i class="bi bi-trash"></i></button>
    </div>
  </div>
</div>
<form *ngIf="editando?.id == tipoProducto.id" class="row" [formGroup]="editarItemTipoProductoForm">
  <input class="col-9 col-sm-10 col-md-10 col-lg-10 col-xl-11" formControlName="nuevoNombre" type="text" [id]=funcionesService.crearId(tipoProducto.id) value="{{tipoProducto.nombre}}">
  <div *ngIf="nuevoNombre?.invalid && (nuevoNombre?.dirty || nuevoNombre?.touched)" class="text-danger">
    <div *ngIf="nuevoNombre?.errors?.['required']">
      Se requiere ingresar nombre para el tipo de producto.
    </div>
    <div *ngIf="nuevoNombre?.errors?.['maxlength']">
      El máximo de caracteres es de 40 .
    </div>
  </div>
  <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1">
    <div class="row">
      <button type="button" class="col btn btn-primary" [disabled]="!editarItemTipoProductoForm.valid" (click)="grabar(tipoProducto, editarItemTipoProductoForm.value)"><i class="bi bi-save"></i></button>
      <button type="button" class="col btn btn-danger" (click)="cancelar(tipoProducto)"><i class="bi bi-x"></i></button>
    </div>
  </div>
</form>
