:host {
    display: block;
    margin-top: 90px; /* Ajusta esta propiedad para definir la distancia hacia abajo */
  }


  .ng-valid:not(.row).ng-touched {
    border-bottom: 5px solid #42a948;
  }
  
.ng-invalid:not(.row).ng-touched {
    border-bottom: 5px solid #a94442;
}

.main {
  border: 2px solid #ccc;
  padding: 0px;
  margin-bottom: 0px;
}
