html, body {
  background: #ecf0f3;
}
:host {
  display: block;
  margin-top: 90px; /* Ajusta esta propiedad para definir la distancia hacia abajo */
}


.formulario {
  width: 25%; /* Establece el ancho del formulario al 80% del ancho de su contenedor */
  max-width: 600px; /* Establece un ancho máximo opcional para el formulario */
  margin: 0 auto; /* Centra el formulario horizontalmente en la página */
}

label.form-label {
  
  
  font-size: 12px;
  color: #2196F3;
}

.password-input {
background: none;
color: #c6c6c6;
font-size: 18px;
padding: 10px 10px 10px 5px;
display: block;
border: none;
border-bottom: 1px solid var(--colorTextos);
resize: none;
}

.center-form input, textarea{
  background: none;
  margin: 0,5rem 0;
  width: 100%;
  color:#c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  
  border:none;
  border-bottom: 1px solid var(--colorTextos);
  resize: none;
}



input {
width: 100% !important;
}

.text-center
.btn {
  text-transform: uppercase;
  text-align: center;
  border: none;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #9fc78f;
  width: 150px;
  display: block;
  margin-top: 1em;
  margin: 0 auto;
  padding: 0.875rem;
  border-radius: 0.2rem;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  cursor: pointer;
}

.parrafo {
  text-align: center;
}

.ng-valid:not(form).ng-touched {
  border-bottom: 5px solid #42a948;
}

.ng-invalid:not(form).ng-touched {
  border-bottom: 5px solid #a94442;
}

@media (max-width: 767px) {
input {
  width: 120% !important;
}
}



