<div class="center-form d-flex flex-column align-items-center justify-content-center">
  <form class="formulario">
    <div class="text-center mb-3">
      <h1 class="encabezado-2">Ingresar</h1>



      <!-- <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1">
        <i class="fab fa-facebook-f"></i>
      </button>

      <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1">
        <i class="fab fa-twitter"></i>
      </button>

      <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1">
        <i class="fab fa-linkedin-in"></i>
      </button> -->
    </div>

   <!--  <div class="divider d-flex align-items-center my-4">
      <p class="text-center fw-bold mx-3 mb-0">O</p>
    </div> -->

    <!-- Email input -->
    <div class="controls">
      <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="form3Example3">Correo</label>
        <input type="email" class="form-control shadow p-3 mb-3 bg-white rounde" placeholder="Correo electrónico" #emailInput required (blur)="validateEmail(emailInput.value)" />
        <div id="email-error" style="color: red;"></div>
      </div>

    <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-3">
        <label class="form-label" for="form3Example4">Contraseña</label>
        <input type="password" class="password-input form-control shadow p-3 mb-3 bg-white rounded" placeholder="Contraseña" #passwordInput required/>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <!-- Checkbox -->
      <div class="checkbox-container">
        <input type="checkbox" value="" id="form2Example3" />
        <label for="form2Example3">Recordarme</label>
      </div>

    </div>

    <div class="text-center text-lg-start mt-4 pt-2">
      <button type="button" (click)="onSubmit(emailInput.value, passwordInput.value)" class="boton-form" style="padding-left: 2.5rem; padding-right: 2.5rem;">Ingresar</button><br>
      <p class="text-danger">{{ error }}</p>
      <p class="parrafo mt-4 text-center"><a [routerLink]="['/recuperar-clave']"  class="">¿Olvidaste tu contraseña?</a></p>
      <p class="mensaje">Aun no tienes una cuenta?<a [routerLink]="['/registrarse']"
          class="link-danger">Registrarse</a></p>
    </div>

  </form>
</div>
