h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    margin-top: 28px;
  }


  :host {
    display: block;
    margin-top: 30px; /* Ajusta esta propiedad para definir la distancia hacia abajo */
  }