.badge {
  background-color:wheat;
  border-radius: 10px;
  color: rgb(19, 18, 18);
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
