


    <div class="card">
      <div class="card-body pb-0">
      <h5 class="card-title">Informe Presupuestario <span>| Anual</span></h5>
        <div id="chart">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [xaxis]="chartOptions.xaxis"
              [stroke]="chartOptions.stroke"
              [markers]="chartOptions.markers"
              [fill]="chartOptions.fill"
              
            ></apx-chart>
          </div>
        </div>
    </div>
   

  