<div class="center-form">
    <form [formGroup]="forma" (ngSubmit)="guardar()">
      <div class="form">
        <h2 class="encabezado-2">Iniciar Sesión</h2>

        <div class="controls">

          <input
                 type="text"
                 id="user"
                 formControlName="user"
                 [class.is-invalid] = "usuarioNoValido"
                 placeholder="Usuario">


          <small *ngIf="usuarioNoValido" class="text-danger">Ingrese su usuario con mínimo 4 letras</small>

          <span class="barra"></span>
          <label>usuario</label>
          <div class="no-valido text-danger d-none"></div>
        </div>

        <div class="controls">
          <input
               formControlName="password"
               [class.is-invalid] = "passwordNoValido"
               type="password"
               placeholder="Contraseña">


        <small *ngIf="passwordNoValido" class="text-danger">Ingrese un password con mínimo de 6 caracteres</small>

          <span
            class="barra"
          ></span>

          <label>Contraseña</label>
          <div class="no-valido text-danger d-none"></div>
        </div>

        <p class="parrafo mt-4">Estoy de acuerdo con <a href="#">Términos y Condiciones</a></p>



        <div class="form-group row">
          <label class="col-2 col-form-label">&nbsp;</label>
          <div class="input-group col-md-8">
            <button type="submit" class="boton-form">
              Ingresar
            </button>

          </div>
        </div>


          <p class="parrafo"><a href="/registro">¿No tienes cuenta?</a></p>




        </div>
    </form>
    <ng-container *ngIf="resultado">
        <div class="row">

          <app-campo-r [resultado]="resultado"></app-campo-r>
        </div>
      </ng-container>
