<div class="center-form">
  <form [formGroup]="restablecerClave" (ngSubmit)="onChangePassword()">
    <div class="form">
      <h2 class="encabezado-2">Restablecer contraseña</h2>
      <label for="password">Contraseña:</label>
      <div class="controls">
        <input
          formControlName="password"
          [type]="passwordFieldType"
          id="password"
          placeholder="Ingrese su contraseña"
          class="form-control p-3 mb-3 bg-white rounded"
          required
        />
        <button type="button" class="toggle-password" (click)="togglePasswordVisibility('password')">
          <i [ngClass]="passwordFieldType === 'password' ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
        </button>
      </div>
      <label for="confirmPassword">Confirmar contraseña:</label>
      <div class="controls">
        <input
          formControlName="confirmPassword"
          [type]="confirmPasswordFieldType"
          id="confirmPassword"
          placeholder="Ingrese de nuevo su contraseña"
          class="form-control p-3 mb-3 bg-white rounded"
          required
        />
        <button type="button" class="toggle-password" (click)="togglePasswordVisibility('confirmPassword')">
          <i [ngClass]="confirmPasswordFieldType === 'password' ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
        </button>
      </div>
      <div>
        <button type="submit" class="boton-form">Restaurar contraseña</button>
        <button type="button" class="boton-form2" (click)="volver()">Volver</button>
      </div>
    </div>
  </form>
</div>
