<div class="center-form">
    <form [formGroup]="recuperarClave" (ngSubmit)="onSendEmail()">
      <div class="form">
        <h2 class="encabezado-2">¿Has olvidado tu contraseña?</h2>
        <label for="email">Correo electrónico:</label>
        <div class="controls">
          <input
              formControlName="email"
              type="email"
              id="email"
              placeholder="Ingrese su correo electrónico"
              class="form-control p-3 mb-3 bg-white rounded"
              required
            />
          </div>
          <p class="mensaje-recuperar">
            Escriba la dirección de correo electrónico asociada<br/>
            a esta cuenta, y te enviaremos<br/>
            un correo electrónico con un enlace<br/>
            para restaurar tu contraseña.
          </p>
          <div>
            <div>
              <button type="submit" class="boton-form">Enviar un enlace de recuperación</button>
              <button type="button" class="boton-form2" (click)="volver()">Volver</button>
            </div>
          </div>
      </div>
    </form>
  </div>