 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="contratar.component.css">

<body> 

  <style>
    .card {
      margin-bottom: 20px;
    }

    .btn-custom {
      background-color: #60d5ab;
      color: #fff;
    }
  </style>
  <title>Método de Contratación - Plomero</title>


  <main>
    <section class="container">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img src="imagenes/profesional-1.jpg" class="img-fluid" alt="Foto del Plomero">
            </div>
            <div class="col-md-8">
              <h3 class="card-title"> Juan Pérez </h3>
              <p class="card-text">Plomería general, industrial, arreglos menores y planificación de obras </p>
              <h4> Experiencia laboral: </h4> <p> 13 años </p> 
              <h4> Información adicional: </h4> <p> Cuento con amplia experiencia en la ejecución de arreglos menores, como fugas y filtraciones, así como en la planificación y ejecución de proyectos de mayor envergadura, como la instalación de sistemas de plomería en obras nuevas. </p> 
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12 text-center">
              <a href="#" class="btn btn-custom">Consultar Presupuesto</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Calificaciones y Comentarios</h5>
          <br>
          <div class="media">
            <img src="imagenes/messages-2.jpg" class="mr-4" alt="100" width="100">
            <div class="media-body">
              <h6 class="mt-0"> Florencia </h6>
              <p> ¡El plomero fue increíblemente rápido y eficiente! Reparó mi fuga de agua en cuestión de minutos y me sorprendió con su habilidad. Fue muy profesional y amable durante todo el proceso. Sin embargo, me hubiera gustado que me explicara más detalladamente qué causó la fuga y cómo puedo prevenir problemas similares en el futuro. Apreciaría un poco más de información técnica la próxima vez. ¡En general, excelente servicio!! </p>
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            </div>
          </div>
          <br>
          <div class="media">
            <img src="imagenes/messages-3.jpg" class="mr-4" alt="100" width="100">
              <div class="media-body">
              <h6 class="mt-0"> Pablo </h6>
              <p> Demostró un conocimiento excepcional y encontró rápidamente la causa de mi problema de drenaje. Me impresionó su experiencia y destreza en resolverlo. Además, fue muy puntual y respetuoso. Durante la reparación dejó algunas herramientas en el área de trabajo, lo que podría haber representado un riesgo de tropiezo. Sugiero que preste más atención a la limpieza y organización después de terminar el trabajo. estoy satisfecho con el servicio proporcionado </p>
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
            </div>
          </div>
          <br>
          <div class="media">
            <img src="imagenes/profesional-3.jpg" class="mr-4" alt="100" width="100">
              <div class="media-body">
              <h6 class="mt-0"> Franco </h6>
              <p> Muy atento y me explicó claramente los pasos que iba a seguir para solucionar mi problema de tubería obstruida. Realizó el trabajo de manera eficiente y logró despejar la obstrucción de manera efectiva. Noté que al finalizar, el área de trabajo no estaba completamente limpia. Sería genial si el plomero se asegurara de dejar el espacio tan limpio como lo encontró al principio. En general, estoy contento con el resultado y el profesionalismo mostrado </p>
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
            </div>
         

        
            
          
</div> 
<main>
  <section class="container">
    <!-- Contenido de la sección -->

    <div class="arrow-down">
      <a href="#" class="btn btn-custom"> Ver más </a>
      <span class="arrow-down"> </span>
    </div>

    <!-- Resto del contenido -->

  </section>
</main> </div>  </div> 

</section>


 </main>
</body>