<ng-container *ngIf="isSitePage(); else homeTemplate">

    <app-navbar-site></app-navbar-site>
    <app-site></app-site>
    <app-footer-site></app-footer-site>
  </ng-container>

  <ng-template #homeTemplate>

    <app-nav-bar></app-nav-bar>
    <router-outlet></router-outlet>

    <li class="nav-item"> <a href="#" id="cart" (click)="cart()"><i class="fa fa-shopping-cart"></i></a>
    </li>
    @if (openCart) {
      <app-carrito></app-carrito>
    }

    <app-footer></app-footer>
  </ng-template>
