<div class="card recent-sales overflow-auto">
    <div class="filter">
       <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
       <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <li class="dropdown-header text-start">
             <h6>Filter</h6>
          </li>
          <li><a class="dropdown-item" href="#">Hoy</a></li>
          <li><a class="dropdown-item" href="#">Este mes</a></li>
          <li><a class="dropdown-item" href="#">Este año</a></li>
       </ul>
    </div>
    <div class="card-body">
       <h5 class="card-title">Ventas recientes <span>| Hoy</span></h5>
       <table class="table table-borderless datatable">
          <thead>
             <tr>
                <th scope="col">#</th>
                <th scope="col">Clientes</th>
                <th scope="col">Productos</th>
                <th scope="col">Precio</th>
                <th scope="col">Estado</th>
             </tr>
          </thead>
          <tbody>
             <tr *ngFor="let t of lista; let i=index">
                <th scope="row"><a href="#">#{{ t.id }}</a></th>
                <td>{{ t.nombreCliente }}</td>
                <td><a href="#" class="text-primary">{{ t.servicio }}</a></td>
                <td>${{ t.precio }}</td>
                <td><span class="{{t.class}}">{{ t.estado }}</span></td>
             </tr>
            
          </tbody>
       </table>
    </div>
 </div>