<!--Botón volver-->
<button type="button" class="volver-btn mb-3" (click)="btnVolver()">Volver</button>
<div class="details-volver"></div>

  <div class="container text-start">
    <div class="row">
      <!--Profesión-->
      <div class="col-lg-3 col-sm-4 justify-content-start">
        <div class="bg-profesion p-2 rounded text-light fs-5 text-center">
          <i class="bi bi-wrench-adjustable"></i>
          {{ profesional?.profesion }}
        </div>
        <!--Imágen-->
        <div class="d-flex justify-content-center">
          <img src="assets/images/profesional-1.jpg" width="100%" alt="Foto Perfil Profesional">
        </div>
        <!--Botón contratar-->
        <div class="d-flex justify-content-center mt-3 mb-3">
          <button class="btn contratar-btn" type="button">Contratar</button>
        </div>
      </div>
      <!--Datos Perfil-->
      <div class="col-lg-3 col-sm-4 justify-content-start">
        <div class="fs-2 d-flex justify-content-start">
          <p>{{ profesional?.nombre}} {{profesional?.apellido}}</p>
        </div>
        <div class="fs-4 d-flex justify-content-start">
          <p>Teléfono: {{ profesional?.telefono}}</p>
        </div>
        <div class="fs-4 d-flex justify-content-start">
          <p>Correo: {{ profesional?.correo}}</p>
        </div>
        <div class="fs-4 d-flex justify-content-start">
          <p>Dirección: {{ profesional?.direccion}}</p>
        </div>
        <div class="linea mt-3 mb-4"></div>
        <div class="fs-4 d-flex justify-content-start">
          <p>Descripción:  {{ profesional?.descripcion}}</p>
        </div>
      </div>
    </div>
  </div>

  <!--Banner calificaciones-->
<div class="banner">
  <img src="assets/images/valoracion_workflix.png" alt="Fondo del banner">
  <div class="calificaciones-box">
    <div class="calificaciones-text">Calificaciones</div>
  </div>
</div>



<!--VALORACIONES-->

<!--<div class="card-container">
     <div class="stars-container">
        <div class="valoracion-reseña"> Valoraciones y reseñas </div>
        <div class="rating-text"> 5 / 5 </div>
        <div class='stars-rating' style="--rating: 5;">
           <div class="rating"></div>
        </div>
     </div>
  </div>
  <div class="card-container">
     <div class="card">
        <img src="assets/images/profesional-1.jpg" alt="Avatar">
        <div class="container-comentario">
           <h4><b>{{user.nombre}}{{user.apellido}}</b></h4>
           <p>★★★★★ 25 de julio de 2022</p>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
     </div>
  </div>
  <div class="card-container mb-5">
     <div class="card">
        <img src="assets/images/profesional-1.jpg" alt="Avatar">
        <div class="container-comentario">
           <h4><b>{{user.nombre}}{{user.apellido}}</b></h4>
           <p>★★★★★ 25 de julio de 2022</p>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
     </div>
  </div>
</div>-->
