:host {
  display: block;
  margin-top: 70px; /* Ajusta esta propiedad para definir la distancia hacia abajo */
  margin-left: 50px;
  margin-right: 50px;
}

h2 {
  color: #6c757d;
  margin-bottom: 40px;
}

img {
  margin-bottom: 40px;
}

p{
  color:#6c757d;
}

.img-qs {
  margin-bottom: 40px;
}

h3 {
  font-size: 20px;
  text-align: center;
  color: #6c757d;
}
