<div class="card">
    <div class="filter">
       <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
       <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <li class="dropdown-header text-start">
             <h6>Filter</h6>
          </li>
          <li><a class="dropdown-item" href="#">Hoy</a></li>
          <li><a class="dropdown-item" href="#">Este mes</a></li>
          <li><a class="dropdown-item" href="#">Este año</a></li>
       </ul>
    </div>
    <div class="card-body">
       <h5 class="card-title">Ventas recientes <span>| mes</span></h5>
       <div class="activity">

          <ng-container *ngIf="ventas.length > 0">
          <div class="row table-header-color fw-bold">
            <div class="col-3 ">Fecha</div>
            <div class="col-4">Comprador</div>
            <div class="col-3">Artículos</div>
            <div class="col-2">Valor</div>
          </div>
          <div class="row" *ngFor="let venta of ventas">
            <div class="col-3">{{visualizarFecha(venta.fecha)}}</div>
            <div class="col-4">{{venta.cliente}}</div>
            <div class="col-3">{{obtenerArticulosVendidos(venta.selecciones)}}</div>
            <div class="col-2">{{venta.total}}</div>
          </div>
        </ng-container>
        <ng-container *ngIf="ventas.length == 0">
          <p>No hay ventas para mostrar.</p>
        </ng-container>          
          
       </div>
    </div>
 </div>