html,
body {
    background: #ecf0f3;
    max-width: 100%;
    overflow-x: hidden;
}
  

:host {
    display: block;
    margin-top: 60px; 
}

.section {
  max-width: 100%;
  overflow-x: hidden;
  margin-bottom: 10%;
} 

.card {
  max-width: 100%;
  overflow-x: hidden;
}

h2 {
    text-align: center;
    margin: 5px 0 5px 0;
    font-weight: 400;
    color: #6c757d;
}
  
h3 {
    text-align: center;
    margin: 5px 0 5px 0;
    font-weight: 500;
    color: #161616;
}
  
  
.image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
  
.card-title {
    margin-top: 3%;
    font-weight: 200;
    font-style: italic;
    color: #292a2b;
}
  
label {
    font-size: 14px;
    color: #284752;
}
  
.text {
    margin: 0;
    margin-top: 2%;
    font-size: 15px;
    color: rgba(44, 44, 46, 0.815);
}
  
.text-2 {
    margin: 0;
    margin-top: 2%;
    font-size: 15px;
    color: rgba(3, 3, 3, 0.815);
}
  
.linea {
    position: absolute; 
    margin-left: 0;
    width: calc(90% - 250px);
    border-bottom: 1px solid black;
    margin-bottom: 20%;
}

img {
    border-radius: 10%;
    justify-content: center;
    width: 80%; 
    height: auto; 
    display: block; 
    max-width: 80%;
}

.imagen1 {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    max-width: 30%;
}

.form-check {
    margin-top: 5%;
}

.form-check-label{
    font-size: 14px;
}

.form-check p{
    font-size: 14px;
    color:#0A769D
}

.d-grid {
    text-align: center;
  }
  
.boton-form{
    background: #60D5AB;
    background: -webkit-linear-gradient(to right, #0A769D, #60D5AB);
    border:none;
    color:#fff;
    border-radius: 4px;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    padding: 15px;
    margin-bottom: 15%;
}

.boton-form:hover{
    background: #1FBABF;
}

.boton2 {
    /* Estilos para el botón "Eliminar cuenta" */
    color: #ffffff; /* Texto en blanco */
    background-color: #dc3545; /* Color de fondo rojo */
    font-size: 14px; /* Tamaño de fuente más pequeño */
    padding: 8px 16px; /* Padding ajustado para el botón más pequeño */
    border-radius: 4px;
    margin: auto;
    cursor: pointer;
}   

.boton2:hover {
    background-color: #c82333; 
}

.text-danger {
    font-size: 12px; 
    margin-top: 5px; 
}

.text-danger:hover {
    color: #b40516;
    font-size: 14px;
    transition: all;
}

.ng-valid:not(form).ng-touched {
   border-left: 5px solid #42a948;
}
  
.ng-invalid:not(form).ng-touched {
   border-left: 5px solid #a94442;
}

@media only screen and (max-width: 600px) {
    .boton-form, .btn-danger {
      width: 100%; 
  }
}