* {
  box-sizing: border-box;
}
html,
body {
 background: #ecf0f3;
}


:host {
  display: block;
  margin-top: 60px; /* Ajusta esta propiedad para definir la distancia hacia abajo */
}

img {
  border-radius: 50%; /* Esto hace que la imagen tenga bordes redondeados */
  justify-content: center;
  width: 80%; /* Esto hace que la imagen ocupe el 100% del ancho de su contenedor */
  height: auto; /* Esto permite que la altura de la imagen se ajuste automáticamente para mantener la proporción */
  display: block; /* Esto asegura que la imagen se comporte como un bloque y ocupe todo el ancho disponible */
  max-width: 100%;
}

.ng-valid:not(form).ng-touched {
 border-bottom: 5px solid #42a948;
}

.ng-invalid:not(form).ng-touched {
 border-bottom: 5px solid #a94442;
}
