.container {
  max-width: 600px;
  margin: 0 auto;
}

.message {
  border-radius: 15px;
  padding: 10px;
  margin: 5px 0;
}

.from {
  background-color: #f1f1f1;
  text-align: left;
}

.to {
  background-color: #007bff;
  color: white;
  text-align: right;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn .fas {
  margin-right: 0;
}
