input[type=text], input[type=number], input[type=file], #tipo {
    background-color: #b8e2ad8f;
    width: 100%;
    padding: 0.5rem;
    border-color: 1px #212121;
    border-radius: 0.2px;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    color: #212121;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
  }

.ng-valid:not(form).ng-touched {
    border-bottom: 5px solid #42a948;
  }
  
  .ng-invalid:not(form).ng-touched {
    border-bottom: 5px solid #a94442;
  }

  .container {
    margin-left: 25%;
  }

  :root {
    --color-main-bg: #DDDFE3;
    --color-white: #fff;
    --color-accent: #FF9635;
    --color-purple: #9999FF;
  }
  
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--color-main-bg);
  }
  
  .card {
    padding: 2rem;
    background: var(--color-white);
    box-shadow:
        0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 100px 80px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
  }
  
  input {
    margin-bottom: 1.5rem;
    background: var(--color-main-bg);
    border: none;
    height: 3rem;
    border-radius: 4px;
    min-width: 20rem;
    display: block;
    padding: 0 1rem;
    background-color: #b84f4f
  }
  
  button {
    border: none;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 4px;
    background: var(--color-accent);
    color: var(--color-white);
    cursor: pointer;
  }
  
  label {
    margin-bottom: .5rem;
    display: inline-block;
  }
  
  :focus {
    outline: 3px solid red;
  }
  
  :focus:not(:focus-visible) {
    outline: none;
  }
  
  :focus-visible {
    outline: 3px solid var(--color-purple);
  }

  h1{font-size: 32px;
    font-weight: normal;
    font-family: Helvetica, sans-serif;
  }