<main id="main" class="main">
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span> WORKFLIX:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div >

      
      <a href="https://github.com/grupo-dw1-ispc/fullstack-project/" target="_blank" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
    <div class="container text-center text-md-start mt-5">
      
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <a href="index.html">
            <img src="./assets/images/logo_workflix.png" alt="workflix" width="40%">
          </a>
          <p>
            WorkFlix es una plataforma donde puede encontrar profesionales de confianza para resolver cualquier inconveniente que tenga en su casa u oficina.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Sobre nosotros
          </h6>
          <p>
            <a href="/quienes-somos" class="text-reset"> ¿Quienes somos? </a>
          </p>
          <p>
            <a href="#" class="text-reset"> Preguntas Frecuentes </a>
          </p>
        </div>
        <!-- Grid column -->

     <!-- Grid column -->
     <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
      <!-- Links -->
      <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
      <p><i class="fas fa-home me-3"></i> Argentina </p>
      <p>
        <i class="fas fa-envelope me-3"></i>
       <a href="/contacto"  class="text-reset"> Escribinos</a> 
      </p>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->


        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Acceder a workflix
          </h6>
          <p>
            <a href="/login" type="button" class="btn btn-outline-success me-2 mt-1 mb-2 btn-lg btn-sm">Ingresar </a>
            <a href="/registro" type="button" class="btn btn-dark mt-1 mb-2 btn-sm">Registrarse</a>
          </p>
        </div>
        <!-- Grid column -->

      <!-- Grid row -->
    </div>
  
  <!-- Section: Links  -->

  <!-- Copyright -->
</div>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold"> Workflix.com </a>
  </div>
  <!-- Copyright -->
</footer>
</main>