<main id="main" class="main">
    <div class="pagetitle">
       <h1>Preguntas frecuentes</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Pages</li>
             <li class="breadcrumb-item active">Preguntas frecuentes</li>
          </ol>
       </nav>
    </div>
    <section class="section faq">
       <div class="row">
          <div class="col-lg-6">
             <div class="card basic">
                <div class="card-body">
                   <h5 class="card-title">Preguntas básicas</h5>
                   <div>
                      <h6>1. ¿Cuánto tiempo lleva completar un proyecto de plomería/gasista/pintura?</h6>
                      <p>El tiempo requerido puede variar según la complejidad del proyecto. Para trabajos pequeños, como reparaciones menores, generalmente se puede completar en unas pocas horas. Sin embargo, proyectos más grandes, como remodelaciones o instalaciones completas, pueden llevar varios días o incluso semanas. Nuestros profesionales evaluarán tu proyecto y te proporcionarán una estimación del tiempo necesario durante la consulta inicial.</p>
                   </div>
                   <div class="pt-2">
                      <h6>2. ¿Cuáles son los métodos de pago aceptados?</h6>
                      <p>Aceptamos diferentes métodos de pago, incluyendo efectivo, transferencia bancaria y tarjetas de crédito/débito. Algunos proveedores de servicios también pueden ofrecer opciones de financiamiento. Consulta con el proveedor específico para conocer las opciones de pago disponibles.</p>
                   </div>
                   <div class="pt-2">
                      <h6>3. ¿Están los profesionales debidamente certificados y asegurados?</h6>
                      <p>Sí, todos nuestros profesionales son debidamente certificados en sus respectivas áreas y cuentan con amplia experiencia en la industria. Además, están completamente asegurados para proteger tanto a los clientes como a ellos mismos en caso de cualquier eventualidad durante el trabajo.</p>
                   </div>
                </div>

             </div>
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title">Otras preguntas</h5>
                   <div class="accordion accordion-flush" id="faq-group-1">
                      <div class="accordion-item">
                         <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsOne-1" type="button" data-bs-toggle="collapse">¿Ofrecen garantía en los trabajos realizados?</button></h2>
                         <div id="faqsOne-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                            <div class="accordion-body"> Sí, garantizamos la calidad de nuestro trabajo. Si por alguna razón no estás satisfecho con el resultado final, estaremos encantados de realizar las correcciones necesarias sin costo adicional dentro de un período de garantía específico. La duración de la garantía puede variar según el tipo de proyecto, por lo que te recomendamos consultar con el proveedor de servicios.</div>
                         </div>
                      </div>
                      <div class="accordion-item">
                         <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsOne-2" type="button" data-bs-toggle="collapse">¿Qué tipo de proyectos de pintura/plomería/gasista realizan?</button></h2>
                         <div id="faqsOne-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                            <div class="accordion-body"> Realizamos una amplia gama de proyectos, desde pequeñas reparaciones y mantenimiento hasta proyectos de remodelación y nuevas instalaciones. Nuestros servicios incluyen pintura interior y exterior, reparación de tuberías, instalación de grifería, mantenimiento de sistemas de gas, entre otros. Si tienes alguna solicitud específica, no dudes en consultarnos.</div>
                         </div>
                      </div>
                      <div class="accordion-item">
                         <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsOne-3" type="button" data-bs-toggle="collapse">¿Puedo obtener una estimación de costos antes de comenzar el proyecto?</button></h2>
                         <div id="faqsOne-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                            <div class="accordion-body"> Sí, ofrecemos estimaciones gratuitas para todos nuestros proyectos. Nuestro equipo visitará tu ubicación, evaluará el alcance del trabajo y te proporcionará una estimación detallada de los costos involucrados. La estimación incluirá materiales, mano de obra y cualquier otro costo relevante para el proyecto.</div>
                         </div>
                      </div>
                      <div class="accordion-item">
                         <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsOne-4" type="button" data-bs-toggle="collapse">¿Trabajan en proyectos residenciales y comerciales?</button></h2>
                         <div id="faqsOne-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                            <div class="accordion-body">Sí, brindamos servicios tanto para propiedades residenciales como comerciales. Ya sea que necesites un plomero para tu hogar o una empresa para realizar trabajos de pintura en tu negocio, estamos equipados para atender tus necesidades. Adaptamos nuestros servicios según el tipo de propiedad y requerimientos específicos.</div>
                         </div>
                      </div>
                      <div class="accordion-item">
                         <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsOne-5" type="button" data-bs-toggle="collapse">¿Cuál es su enfoque en cuanto a la limpieza después del trabajo realizado?</button></h2>
                         <div id="faqsOne-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                            <div class="accordion-body">Nos preocupamos por la limpieza y dejamos el área de trabajo en condiciones impecables una vez finalizado el proyecto. Nuestros profesionales se encargarán de limpiar cualquier desorden o residuo generado durante el proceso de trabajo, dejando tu espacio limpio y ordenado.</div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-lg-6">
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title">Sobre los servicios de Plomería</h5>
                   <div class="accordion accordion-flush" id="faq-group-2">
                      <div class="accordion-item">
                         <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsTwo-1" type="button" data-bs-toggle="collapse">¿Cómo puedo encontrar información detallada sobre los servicios de plomería que ofrecen en su página web?</button></h2>
                         <div id="faqsTwo-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                            <div class="accordion-body">En nuestra página web, encontrarás una sección de servicios donde detallamos todos los servicios de plomería que ofrecemos. También puedes ponerte en contacto con nosotros a través de los datos de contacto proporcionados en la página para obtener información adicional.</div>
                         </div>
                      </div>
                      <div class="accordion-item">
                         <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsTwo-2" type="button" data-bs-toggle="collapse">¿Cuál es el proceso para solicitar un servicio de plomería a través de su página web?</button></h2>
                         <div id="faqsTwo-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                            <div class="accordion-body">Para solicitar un servicio de plomería, simplemente debes selecciones el servicio que deseas contratar en nuestra página web y añadirlo al carrito. Proporcionar los detalles requeridos, como la descripción del problema y tus datos de contacto, y nos pondremos en contacto contigo lo antes posible para coordinar el servicio.</div>
                         </div>
                      </div>
                      <div class="accordion-item">
                         <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsTwo-3" type="button" data-bs-toggle="collapse">¿Ofrecen servicios de plomería de emergencia?</button></h2>
                         <div id="faqsTwo-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                            <div class="accordion-body">Sí, en nuestra página web, encontrarás información sobre nuestros servicios de plomería de emergencia. Si tienes una situación urgente, como una fuga de agua o una tubería rota, puedes comunicarte con nosotros de inmediato y enviaremos a nuestros profesionales lo más rápido posible.</div>
                         </div>
                      </div>
                      <div class="accordion-item">
                         <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsTwo-4" type="button" data-bs-toggle="collapse">¿Cómo puedo saber si su empresa de plomería es confiable y cuenta con profesionales calificados?</button></h2>
                         <div id="faqsTwo-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                            <div class="accordion-body"> En nuestra página web, encontrarás una sección dedicada a testimonios y reseñas de nuestros clientes satisfechos. También puedes ver nuestras certificaciones y licencias profesionales que respaldan nuestra experiencia y calidad de servicio en el área de la plomería. Además, ofrecemos garantías en nuestros trabajos y te brindaremos información adicional sobre la experiencia y formación de nuestro equipo de profesionales.</div>
                         </div>
                      </div>
                      <div class="accordion-item">
                         <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsTwo-5" type="button" data-bs-toggle="collapse">¿Qué debo hacer si tengo alguna pregunta adicional o necesito más información antes de contratar sus servicios de plomería?</button></h2>
                         <div id="faqsTwo-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                            <div class="accordion-body">Estamos aquí para ayudarte. En nuestra página web, encontrarás nuestros datos de contacto, incluyendo número de teléfono y dirección de correo electrónico. No dudes en comunicarte con nosotros para hacer cualquier pregunta adicional que tengas sobre nuestros servicios de plomería. Nuestro equipo de atención al cliente estará encantado de brindarte la información que necesitas.</div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title">Sobre los servicios de Gasista matriculado</h5>
                   <div class="accordion accordion-flush" id="faq-group-3">
                      <div class="accordion-item">
                         <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsThree-1" type="button" data-bs-toggle="collapse">¿Cuál es el alcance de los servicios de gasista que ofrecen en la página web?</button></h2>
                         <div id="faqsThree-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-3">
                            <div class="accordion-body">Nuestros servicios de gasista incluyen instalación, reparación y mantenimiento de sistemas de gas, detección de fugas, inspecciones de seguridad y asesoramiento técnico en temas relacionados con el gas.</div>
                         </div>
                      </div>
                      <div class="accordion-item">
                         <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsThree-2" type="button" data-bs-toggle="collapse">¿Cuál es el tiempo de respuesta para las solicitudes de servicio a través de la página web?</button></h2>
                         <div id="faqsThree-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-3">
                            <div class="accordion-body">Nos esforzamos por responder a todas las solicitudes de servicio a través de nuestra página web en un plazo máximo de 24 horas. Sin embargo, en casos de emergencia, te recomendamos contactarnos por teléfono para una atención más rápida.</div>
                         </div>
                      </div>
                      <div class="accordion-item">
                         <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsThree-3" type="button" data-bs-toggle="collapse">¿Puedo solicitar un presupuesto en línea a través de la página web?</button></h2>
                         <div id="faqsThree-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-3">
                            <div class="accordion-body">Sí, puedes solicitar un presupuesto en línea a través de nuestra página web o puedes directamente seleccionar los servicios que ya están ofrecidos. Si necesitas un presupuesto especial, completa el formulario de presupuesto indicando los detalles del trabajo y te enviaremos una cotización en el menor tiempo posible.</div>
                         </div>
                      </div>
                      <div class="accordion-item">
                         <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsThree-4" type="button" data-bs-toggle="collapse">¿Cómo puedo acceder a los testimonios de otros clientes en la página web?</button></h2>
                         <div id="faqsThree-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-3">
                            <div class="accordion-body">En nuestra página web, encontrarás una sección de testimonios o comentarios de clientes satisfechos. Puedes leer sus experiencias y opiniones para tener una idea de la calidad de nuestros servicios.</div>
                         </div>
                      </div>
                      <div class="accordion-item">
                         <h2 class="accordion-header"> <button class="accordion-button collapsed" data-bs-target="#faqsThree-5" type="button" data-bs-toggle="collapse">¿Puedo solicitar el servicio de gasista a través de la página web fuera del horario comercial?</button></h2>
                         <div id="faqsThree-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-3">
                            <div class="accordion-body">Si bien recomendamos contactarnos por teléfono en casos de urgencia fuera del horario comercial, puedes enviar tu solicitud de servicio a través de nuestra página web en cualquier momento.</div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>
