<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-sm-2 lg-2 mb-0">
            <div class="abstract-1 delayed-fade-in">
                <img src="../../../assets/images/Image-abstract-12.png" alt="">
            </div>
        </div>
        <div class="col-sm-6 col-lg-8 mt-lg-0 mt-4 logo delayed-slide-in-top">
            <img src="../../../assets/images/logo_workflix.png" alt="Logo Workflix" class="img-fluid">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 mr-o p-0 mt-0 ml-lg-2">
            <div align="right">
                <img class="img-fluid delayed-slide-in" src="../../../assets/images/linea-verde-lg.png" alt="" width="70%">
            </div>
            <div class="d-flex justify-content-center delayed-fade-more">
                <button class="btn btn-lg boton-descarga mt-3">DESCARGAR APK</button>
            </div>
            <div class="d-flex justify-content-center delayed-fade-in mt-4 p-3">
                <img src="../../../assets/images/disponible-android.png" alt="Disponible para Android" width="150px">
            </div>    
        </div>
        <div class="col-lg-6 col-md-12 mt-lg-0 mt-4">
            <div>
                <img class="abstract-2" src="../../../assets/images/elemento-abstract-2.png" alt="">
            </div>
        </div>
        <div class="col-lg-6 col-md-12 mt-lg-0 mt-4">
            <div class="mockup delayed-slide-in-bottom">
                <img src="../../../assets/images/mockup-workflix-app-cubo.png" alt="Mockup de la app">
            </div>
        </div>
    </div>
    <section id="Aplicacion-Web delayed-fade-more">
        <div class="row app-web">
            <div class="col-sm-6 col-lg-6 mx-auto ">
                <p class="mt-4 p-4 text-center text-white fw-bolder fs-1">USALO DESDE TU COMPUTADORA</p>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-light rounded-pill p-3" type="button">IR A WORKFLIX WEB</button>
                  </div>
            </div>
            <div class="col-sm-6 col-lg-6 align-items-center d-flex justify-content-center">
                <img class="delayed-slide-in-bottom" src="../../../assets/images/6.png" alt="" width="50%" style="margin-top: -180px;">
            </div>
            <div class="col-sm-6 col-lg-6 align-items-center d-flex justify-content-start">
              <img src="../../../assets/images/13.png" alt="" width="50%" style="margin-bottom:-120px; margin-left: 30px;">
            </div>
            <div class="col-sm-6 col-lg-6 align-items-center d-flex justify-content-center">
                <img class="delayed-slide-in-bottom pc-blanca" src="../../../assets/images/workflix-web-application.png" alt="">
            </div>
        </div>
    </section>

</div>
