<!-- site.component.html -->
<div>
  <header class="abstract-1">
      <img src="../../../assets/images/elemento-abst-12.png" alt="" width="70%">
  </header>
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6 col-md-12">
              <div class="logo">
                  <img src="../../../assets/images/logo_workflix.png" alt="Logo Workflix" class="img-fluid">
              </div>
          </div>
          <div class="col-lg-6 col-md-12 mt-lg-0 mt-4">
              <div class="mockup">
                  <img src="../../../assets/images/MOCKUP.png" alt="Mockup de la app" class="img-fluid">
              </div>
          </div>
      </div>
  </div>
</div>
