  <div class="container-fluid">
      <div class="row align-items-center">
          <div class="col-sm-2 lg-2 mb-0">
                <div class="abstract-1">
                    <img src="../../../assets/images/elemento-abst-12.png" alt="" width="70%">
                </div>
          </div>
          <div class="col-sm-6 col-lg-8 mt-lg-0 mt-4 logo">
            <img src="../../../assets/images/logo_workflix.png" alt="Logo Workflix" class="img-fluid">
          </div>
      </div>
      <div class="row align-items-center">

        <div class="col-lg-6 col-md-12 mt-lg-0 mt-4">
            <div class="mockup">
                <img src="../../../assets/images/mockup-workflix-app-cubo.png" alt="Mockup de la app" class="img-fluid">
            </div>
        </div>
    </div>
  </div>

