<nav  class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-expand-lg  fixed-top">
  
  <div class="container-fluid ms-2 me-2"> 
      <a class="navbar-brand" href="/home">
          <img src="./assets/images/logo_workflix.png" alt="WorkFlix" height="35">
        </a>   
        
        <div class="d-flex align-items-center justify-content-between">
           
           
           
           <button (click)="sidebarToggle()" class="bi bi-list toggle-sidebar-btn btn btn-outline-info mt-0" type="submit">
            {{ isSidebarOpen ? 'Cerrar' : 'Desplegar' }}
          </button>
           
        </div>  
    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-3">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active" (click)="onClickEnlace()">Home</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="/quienes-somos" routerLinkActive="active" (click)="onClickEnlace()" >Quiénes Somos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" routerLink="/contacto" routerLinkActive="active" (click)="onClickEnlace()">Contacto</a>            
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        
        <ng-container *ngIf="!usuario">
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ingresar</a>
            <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/login']">Ingresar</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/registro']">Registrarse</a></li>
            </ul>
          </li>
        </ng-container>
        
        <ng-container *ngIf="usuario">
          <li class="nav-item"><a class="nav-link" [routerLink]="['/']" (click)="logout()">Logout</a></li>
        </ng-container>
                
      </ul>
      <button routerLink="carro" class="btn btn-light">
        <i style="font-size: 20px;"class="fas fa-cart-plus"></i>
      <div style="font-size:10px;" class="badge bg-danger">{{totalItem}}</div>
    </button>
      <div class="d-flex">
        <input type="text" class="form-control" [(ngModel)]="searchKey" (keyup)="search($event)" placeholder="Buscar Profesional">
      </div>
    
    </div>
  </div>
  
</nav>

<router-outlet></router-outlet>



