<div class="col-md-12 mt-auto pb-4">
    <div class="container mt-5 p-2">
        <div class="text-center">
            <h1 class="encabezado-2">Registrarse</h1>
        </div>
    </div>
</div>

<!-- <form>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" #nombreInput required>
    </div>
    <div class="form-group">
      <label for="apellido">Apellido</label>
      <input type="text" class="form-control" id="apellido" #apellidoInput required>
    </div>
    <div class="form-group">
      <label for="correo">Correo</label>
      <input type="email" class="form-control" id="correo" #correoInput required>
    </div>
    <div class="form-group">
      <label for="clave">Clave</label>
      <input type="password" class="form-control" id="clave" #claveInput required>
    </div>
    <div class="form-group">
      <label for="telefono">Teléfono</label>
      <input type="tel" class="form-control" id="telefono" #telefonoInput required>
    </div>
    <button type="submit" (click)="onSubmit(nombreInput.value, apellidoInput.value, correoInput.value, claveInput.value, telefonoInput.value)" class="btn btn-primary">Registrarse</button>
  </form>
 -->
<div class="registrer">
  <section class="seccion-form d-flex justify-content-center align-items-center">

      <form class="form-register" [formGroup]="registrarForm" (ngSubmit)="onSubmit()">
          <label for="fname">Nombre:</label><br>
          <input class="form-control shadow p-3 mb-3 bg-white rounded" type="text" formControlName="fname" id="fname" placeholder="Ingrese su nombre" required><br>
          <div *ngIf="fname?.invalid && (fname?.dirty || fname?.touched)" class="text-danger">

              <div *ngIf="fname?.errors?.['required']">
                  Se requiere un nombre
              </div>
              <div *ngIf="fname?.errors?.['minlength']">
                  El nombre debe tener más de 4 caracteres.
              </div>
              <div *ngIf="fname?.errors?.['maxlength']">
                  El nombre debe tener un máximo de 40 caracteres.
              </div>
          </div>


          <label for="lname">Apellido:</label><br>
          <input class="form-control shadow p-3 mb-3 bg-white rounded" type="text" formControlName="lname" id="lname" placeholder="Ingrese su apellido" required><br>

          <div *ngIf="lname?.invalid && (lname?.dirty || lname?.touched)" class="text-danger">

              <div *ngIf="lname?.errors?.['required']">
                  Se requiere un apellido
              </div>
              <div *ngIf="lname?.errors?.['minlength']">
                  El apellido debe tener más de 3 caracteres.
              </div>
              <div *ngIf="lname?.errors?.['maxlength']">
                  El apellido debe tener un máximo de 40 caracteres.
              </div>
          </div>

          <label for="mail">Correo electrónico:</label><br>
          <input class="form-control shadow p-3 mb-3 bg-white rounded"  type="email" formControlName="mail" id="mail" placeholder="Ingrese su correo electrónico" required><br>

          <div *ngIf="mail?.invalid && (mail?.dirty || mail?.touched)" class="text-danger">

              <div *ngIf="mail?.errors?.['required']">
                  Se requiere un correo electrónico
              </div>
              <div *ngIf="mail?.errors?.['minlength']">
                  El correo electrónico debe tener más de 10 caracteres.
              </div>
              <div *ngIf="mail?.errors?.['pattern']">
                  El formato de correo electrónico no coincide.
              </div>
          </div>

          <label for="password">Contraseña:</label><br>
          <input class="form-control shadow p-3 mb-3 bg-white rounded"  type="password" formControlName="password" id="password" placeholder="Ingrese su contraseña" required><br>

          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-danger">

              <div *ngIf="password?.errors?.['required']">
                  Se requiere una contraseña.
              </div>
              <div *ngIf="password?.errors?.['minlength']">
                  La contraseña debe tener más de 6 caracteres.
              </div>
              <div *ngIf="password?.errors?.['maxlength']">
                  La contraseña debe tener un máximo de 20 caracteres.
              </div>
          </div>
          <!-- <label for="adress">Domicilio:</label><br>
          <input class="form-control"  type="text" formControlName="adress" id="adress" placeholder="Ingrese su domicilio" required><br>

          <div *ngIf="adress?.invalid && (adress?.dirty || adress?.touched)" class="text-danger">

              <div *ngIf="adress?.errors?.['required']">
                  Se requiere un domicilio
              </div>
              <div *ngIf="adress?.errors?.['maxlength']">
                  El domicilio debe tener un máximo de 40 caracteres.
              </div>
          </div> -->

          <label for="phone">Teléfono:</label><br>
          <input class="form-control shadow p-3 mb-3 bg-white rounded"  type="tel" formControlName="phone" id="phone" placeholder="Ingrese su teléfono" required><br>

          <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)" class="text-danger">

              <div *ngIf="phone?.errors?.['required']">
                  Se requiere un número de teléfono
              </div>
              <div *ngIf="phone?.errors?.['minlength']">
                  El teléfono debe tener más de 8 caracteres.
              </div>
              <div *ngIf="phone?.errors?.['maxlength']">
                  El teléfono debe tener un máximo de 25 caracteres.
              </div>
          </div>

          <!-- <label for="user">Nombre de usuario:</label><br>
          <input class="form-control"  type="text" formControlName="user" id="user" placeholder="Ingrese su usuario" required><br>

          <div *ngIf="user?.invalid && (user?.dirty || user?.touched)" class="text-danger">

              <div *ngIf="user?.errors?.['required']">
                  Se requiere un nombre de usuario
              </div>
              <div *ngIf="user?.errors?.['minlength']">
                  El nombre de usuario debe tener más de 4 caracteres.
              </div>
              <div *ngIf="user?.errors?.['maxlength']">
                  El nombre de usuario debe tener un máximo de 20 caracteres.
              </div>
          </div> -->
          <div>
            <button class="btn-success" mat-dialog-open (click)="openDialog()">Ver terminos y condiciones</button>

            <div class="checkbox-container">
                <label for="miCheckbox">Aceptar términos y condiciones</label> <br>
                <input type="checkbox" formControlName="aceptoTerminos" id="miCheckbox">
            </div>
          
          <span class="text-danger" *ngIf="registrarForm?.get('aceptoTerminos')?.value === false">Debe aceptar términos para registrarse</span>
          </div>

          <!--Botón Registrarse-->
          <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
              <button type="submit" class="boton-form" [disabled]="!registrarForm.valid">Registrarse</button>
            </div>
            <p class="parrafo mt-4 text-center"><a [routerLink]="['/ingresar']"  class="">¿Olvidaste tu contraseña?</a></p>

          </div>

        </form>
<!-- 
        <ng-container *ngIf="resultado.mensaje != ''">
            <div class="container">
                <div class="row">
                    <div class="col">

                         <p class="text-center">{{resultado.mensaje}}</p>

                    </div>
                </div>
            </div>
          <ng-container *ngIf="resultado.status == 201">

          </ng-container>
        </ng-container> -->
  </section>
</div>
