
:host {
    display: block;
    margin-top: 60px; /* Ajusta esta propiedad para definir la distancia hacia abajo */
  }
  
.encabezado-2{
    text-align: center;
    margin: 10px 0 20px 0;
    font-weight: 300;
    color: #6c757d;
}
   
.center-form {
  display: flex;
  justify-content: center;
  align-items: center;  
}


.boton-form{
  background: #60D5AB;
  background: -webkit-linear-gradient(to right, #0A769D, #60D5AB);
  width: 100%;
  border:none;
  color:#fff;
  border-radius: 4px;
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer;
  padding: 15px;
}
.boton-form:hover{
  background: #1FBABF;
}

.checkbox-container {
  display: flex;
  align-items: flex-start;
  margin-top: 5%;
  margin-left: auto;
}
.checkbox-container label {
  margin-left: 15px; /* Ajusta el margen izquierdo del texto */
}
.text-danger {
  margin-left: 15px;
  margin-bottom: 15px;
}

.form {
  min-width: 300px;
  background: #fff;
  width: 30%;
  margin: 0px auto;
  padding: 10px 0;
  border-radius: 10px;
}

label {
  font-size: 14px;
  color: #0A769D;
}


input {
  width: 100% !important;
  background: none;
  color: #6c757d;
  font-size: 1.5 vw;
  border: 1px #efedef solid;
}

input:focus,textarea:focus{
  outline: none;
  color: rgb(94,93,93);
}

input:focus~label, 
input:valid~label, 
textarea:focus~label, textarea:valid~label{
  position: absolute;
  top: -14px;
  font-size: 12px;
  color: #2196F3;
}

.ng-valid:not(form).ng-touched {
    border-bottom: 5px solid #42a948;
}
  
.ng-invalid:not(form).ng-touched {
    border-bottom: 5px solid #a94442;
}

@media (max-width: 767px) {
  input {
    width: 100% !important;
  }
}
@media screen  and (max-width: 450px)  {
  .center-form {
    margin-bottom: 30px;
  }
}
  

