<div class="modal-header">
    <h4 class="modal-title">Términos y condiciones</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss(false)">
      <span aria-hidden="true"></span>
    </button>
  </div>
  <div class="modal-body">
    <ol>
        <li>Descripción del Servicio<br>
            Nuestra plataforma en línea actúa como un nexo entre profesionales y personas que buscan servicios. Los profesionales pueden registrarse y ofrecer sus servicios a través de nuestro sitio web, y los usuarios pueden buscar y contratar servicios especializados de profesionales registrados en nuestra plataforma.</li>
        
        <li>Registro de Profesionales<br>
            Los profesionales deben registrarse en nuestro sitio web antes de poder ofrecer sus servicios. Al registrarse, los profesionales deben proporcionar información precisa y completa sobre su experiencia, habilidades y certificaciones. Nos reservamos el derecho de revisar y aprobar todos los perfiles de profesionales registrados en nuestra plataforma.</li>
        
        <li>Responsabilidad del Profesional<br>
            El profesional es el único responsable de la calidad de sus servicios y debe asegurarse de cumplir con todas las leyes y regulaciones aplicables. Los profesionales son responsables de proporcionar a los usuarios información precisa y actualizada sobre sus servicios, tarifas y horarios.</li>
        
        <li>Responsabilidad del Usuario<br>
            Los usuarios son responsables de verificar la información proporcionada por los profesionales y de tomar una decisión informada antes de contratar un servicio. La plataforma en línea no es responsable de la calidad de los servicios proporcionados por los profesionales ni de la satisfacción del usuario con dichos servicios.</li>
        
        <li>Pago y facturación<br>
            Los usuarios deben pagar por los servicios proporcionados por los profesionales a través de nuestra plataforma en línea. Los profesionales son responsables de proporcionar facturas precisas y detalladas a los usuarios por los servicios prestados.</li>
        
        <li>Cancelaciones y Reembolsos<br>
            Los usuarios pueden cancelar una reserva o servicio programado a través de nuestra plataforma en línea, según lo permitido por los términos y condiciones de cada profesional. Los reembolsos se manejarán de acuerdo con las políticas de cancelación del profesional.</li>
        
        <li>Propiedad Intelectual<br>
            Todos los derechos de propiedad intelectual en nuestro sitio web y contenido son propiedad de nuestra plataforma en línea. Los profesionales no pueden utilizar, copiar o distribuir el contenido de nuestra plataforma en línea sin nuestro permiso expreso por escrito.</li>
        
        <li>Modificaciones a los Términos y Condiciones<br>
            Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento sin previo aviso. Se espera que los usuarios revisen estos términos y condiciones regularmente para estar informados de cualquier cambio.</li>
        
        <li>Resolución de Conflictos<br>
            Cualquier conflicto o disputa relacionada con el uso de nuestra plataforma en línea se resolverá a través de medios de resolución de conflictos alternativos, incluida la mediación o el arbitraje.</li>
      </ol>
      
    </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('aceptar')">Aceptar</button>
  </div>