<div class="container">
  <div class="shopping-cart">
    <div class="shopping-cart-header">
      <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">{{totalQuantity}}</span>
      <div class="shopping-cart-total">
        <span class="lighter-text">Total:</span>
        <span class="main-color-text">${{totalPrice}}</span>
      </div>
    </div>
    <!--end shopping-cart-header -->

    @for (item of items; track $index) {
    <ul class="shopping-cart-items">
      <li class="clearfix">
        <img [src]="item.img" alt="item1" />
        <span class="item-name">{{item.name}}</span>
        <span class="item-price">${{item.price}}</span>
        <span class="item-quantity">Quantity: {{item.quantity}}</span>
        <button type="button" class="btn btn-danger ml-4" (click)="remove(item)">Remove</button>
      </li>
    </ul>
  }
    <a href="#" class="button">Checkout</a>
  </div> <!--end shopping-cart -->
</div> <!--end container -->
