
/* Box sizing */
*, *:before, *:after {
  box-sizing: border-box;
}
.main-color-text{
  color: #6394F8;
}
/* Container */
.container {
  margin: auto;
  width: auto;
}

/* Badge */
.badge {
  background: #6394F8;
  color: white !important;
  border-radius: 10px;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

/* Shopping cart */
.shopping-cart {
  background: white;
  width: 320px;
  position: relative;
  border-radius: 3px;
  padding: 20px;
}

.shopping-cart-header {
  border-bottom: 1px solid #54b14b;
  padding-bottom: 15px;
}

.shopping-cart-total {
  float: right;
}

.shopping-cart-items {
  padding-top: 20px;
}

.shopping-cart-items li {
  margin-bottom: 18px;
}

.shopping-cart-items img {
  float: left;
  margin-right: 12px;
  width: 100%;
}

.item-name {
  display: block;
  padding-top: 10px;
  font-size: 16px;
}

.item-price {
  color: gray;
  margin-right: 8px;
}

.item-quantity {
  color: gray;
}

.shopping-cart::after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color:#54b14b;
  border-width: 8px;
  margin-left: -8px;
}

/* Cart icon */
.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

/* Button */
/*.button {
  background: #6394F8;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
}

.button:hover {
  background: #81abfd !important;

}*/

.btn-contratar:hover{
  color: #ffffff;
  background-color: #1FBABF;
}

/* Clearfix */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* List styles */
li {
  list-style-type: none;
}

ul {
  padding-inline-start: 0px;
}

/* Additional styling */
.container {
  position: absolute;
  z-index: 1;
  top: 95%;
  left: 63%;
}
