<div class="container-fluid">
  <!--Logo-->
  <div class="div-logo">
    <img src="../../../assets/images/logo_workflix.png" alt="Logo Workflix" class="img-fluid">
  </div>
  <!--Columnas-->
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col columna1">
        <p>SOBRE NOSOTROS</p>
      </div>
      <div class="col columna1">
        <p>CONTACTO</p>
      </div>
      <div class="col columna1">
        <p>ACCEDER A WORKFLIX</p>
      </div>
    </div>
  </div>
  <!--Columnas2-->
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col columna2">
        <p class="p2">¿Quienes somos?</p>
      </div>
      <div class="col columna2">
        <p class="p2">Escribenos</p>
      </div>
      <div class="col columna2">
        <button class="boton1">Ir a Sitio Web</button>
      </div>
    </div>
  </div>
  <!--Columnas3-->
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col columna3">
        <p class="p2">Preguntas Frecuentes</p>
      </div>
      <div class="col columna3">
      </div>
      <div class="col columna3">
        <button class="boton2">Descargar App</button>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
