.div-logo{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

img {
  width: 443px;
  height: 121px;
}

.columna1{
  width: 360px;
  height: 67px;
}

p{
  color: #6C757D;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.columna2{
  width: 357px;
  height: 111px;
}

.p2{
  color: #6C757D;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.txt-boton {
  color: #020202;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.boton1{
  border-radius: 84.5px;
  border: 4px solid #60D5AB;
  background: #FFF;
  width: 304px;
  height: 80px;
}

.txt-boton2{
  color: #020202;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.boton2{
  border-radius: 84.5px;
  border: 4px solid #60D5AB;
  background: #60D5AB;
  width: 304px;
  height: 80px;
}

