<div class="container-fluid">
  <!--Logo-->
  <div class="div-logo">
    <img src="../../../assets/images/logo_workflix.png" alt="Logo Workflix" class="img-fluid">
  </div>
  <!--Columnas-->
  <div class="container text-center">
    <div class="row align-items-start d-flex align-items-center">
      <div class="col">
        <p>SOBRE NOSOTROS</p>
      </div>
      <div class="col">
        <p>CONTACTO</p>
      </div>
      <div class="col">
        <p>ACCEDER A WORKFLIX</p>
      </div>
    </div>
  </div>
  <!--Columnas2-->
  <div class="container text-center">
    <div class="row align-items-start d-flex align-items-center">
      <div class="col">
        <a class="p2" href="#">¿Quiénes somos?</a>
      </div>
      <div class="col">
        <a class="p2" href="#">Escribenos</a>
      </div>
      <div class="col">
        <button class="boton-web mb-1">Ir a Sitio WEB</button>
      </div>
    </div>
  </div>
  <!--Columnas3-->
  <div class="container text-center columna3">
    <div class="row align-items-start d-flex align-items-center">
      <div class="col">
        <a class="p2" href="#">Preguntas Frecuentes</a>
      </div>
      <div class="col">
      </div>
      <div class="col">
        <button class="boton-app mt-1">Descargar APP</button>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
