
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">

      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-5">
        <form>
          <!-- Email input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <input [value]="nombre" type="text" placeholder="Ingrese su nombre" class="form-control form-control-lg" id="nombre" #nombreInput required>
          </div>
          <div data-mdb-input-init class="form-outline mb-4">
            <input [value]="apellido" type="text" placeholder="Ingrese su apellido"  class="form-control form-control-lg" id="apellido" #apellidoInput required>
          </div>
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" placeholder="Ingrese su correo"  class="form-control form-control-lg" id="correo" #correoInput required>
          </div>
        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" placeholder="Ingrese su clave"  class="form-control form-control-lg" id="clave" #claveInput required>
          </div>
            <div data-mdb-input-init class="form-outline mb-3">
              <input [value]="telefono" type="tel" placeholder="Ingrese su telefono"  class="form-control form-control-lg" id="telefono" #telefonoInput required>
            </div>

    </div>
  </div>

</section>


